pyee==12.1.1
numpy==1.26.4
# pygame==2.6.1
# mediapipe==0.10.15
python-dotenv==1.0.1
opencv-python==4.11.0.86
openai==1.61.0
pydub==0.25.1
websockets==14.2
pyperclip==1.9.0
sounddevice==0.4.7
pyaudio==0.2.14
# funasr==1.2.3
# torch==2.6.0
# torchaudio==2.6.0
# transformers==4.49.0
# pillow==11.1.0
# einops==0.8.1
# timm==1.0.14
# futures==3.0.5